html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #fff !important;
  color: black !important;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

.line {
  width: 50em;
  top: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #000;
}

nav #name {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #name a {
  color: black;
  transition: all 0.3s ease-out;
}

nav #name a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: black;
}

nav #menu li a:hover {
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
  color: black;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
  color: white;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #name {
    margin-left: 24px;
  }

  #menu a {
    font-size: 13px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  /* font-weight: lighter; */
  margin-top: 45%;
  text-align: center;
  letter-spacing: 1px;
  line-height: 58px;
  font-size: 18px;
  padding: 20px;
  max-width: 600px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 18px;
    max-width: 500px;
  }
}

.footer {
  margin-top: 10vh;
}

.collab {
  text-align: center;
}

.collab p {
  margin-bottom: 10px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 18px;
}

.info p {
  color: grey;
}

.info li {
  color: black;
  font-size: 18px;
  /* padding-left: 20px; */
}

.info ul {
  margin: 0 0 0 -10px;
  padding: 0;
}

#fb::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: grey;
}

#ig::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: grey;
}

#tw::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: grey;
}

#em::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: grey;
}

#personal,
#media,
#address {
  text-align: center;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -10px;
    padding: 0;
  }
}

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}

.about {
  height: 500px;
  margin-top: 120px;
}

.image {
  background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80)
    no-repeat 50% 70%;
}

#contact-form {
  margin: 5% 1.4%;
}

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

#contact-form li {
  padding: 10px;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 0.8em;
  color: #999;
  padding-left: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: #dfdfdf;
  font-size: 14px;
  letter-spacing: 2px;
}

.send:hover {
  background: #dfdfdf;
  color: #101010;
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}

.prev,
.next p {
  color: grey;
}

.prev p {
  text-align: left;
}

.next p {
  text-align: right;
}
